{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-8 offset-md-2">

        <h1 class="mb-4">{{ event.title }}</h1>
        {% if user.is_authenticated and event.creator == user %}
        <a href="{% url 'edit_event' event.id %}" class="btn btn-primary">Edit Event</a>
        <a href="{% url 'delete_event' event.id %}" class="btn btn-primary">Delete Event</a>
        {% endif %}
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">Details</h4>
                <p class="card-text"><strong>Description:</strong> {{ event.description }}</p>
                <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
                <p class="card-text"><strong>Category:</strong> {{ event.category }}</p>
                <p class="card-text"><strong>Status:</strong> {{ event.status }}</p>
                <p class="card-text"><strong>Creators:</strong>
                    <a href="{% url 'user' event.creator.id %}">
                        {{event.creator.first_name }} {{event.creator.last_name }}
                    </a>
                </p>

                <h5 class="card-title mt-4">Tags</h5>
                <ul class="list-inline">
                    {% for tag in event.tags.all %}
                    <li class="list-inline-item"><span class="badge badge-primary bg-secondary">{{ tag.name }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <h5 class="mt-4">Event Schedule</h5>
        {% if user.is_authenticated and user == event.creator %}
        <a href="{% url 'create_session_item' event.id %}" class="btn btn-primary mt-1">Add Session</a>
        {% endif %}
        <ul class="list-group mt-3">
            {% for session in event_sessions %}
            <li class="list-group-item d-flex justify-content-between">
                {{ session.start_time|time:"H:i" }} : {{ session.end_time|time:"H:i"}} - {{session.title }}
                {% if user.is_authenticated and user == event.creator %}
                <a href="{% url 'edit_session_item' event_id=event.id session_id=session.id %}">Edit
                    Session Item</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Comments</h5>
                <ul class="list-group mt-3">
                    {% for comment in comments %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between mb-3">
                            <small>@{{comment.user}} - {{comment.created_at|timesince}} ago</small>
                            {% if user.is_authenticated and request.user == comment.user %}
                            <a href="{% url 'delete_comment' comment.id %}">Delete Comment</a>
                            {% endif %}
                        </div>
                        <hr>
                        <p>{{comment.text}}</p>
                    </li>
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                    <li class="list-group-item">
                        <div>
                            <form class="d-flex justify-content-between mb-3" method="POST" action="">
                                {% csrf_token %}
                                <input class="form-control" type="text" name="comment"
                                    placeholder="Write your comment here..." />
                                <button class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <a href="{% url 'event_list' %}" class="btn btn-secondary mt-4">Back to Events</a>
    </div>

</div>
{% endblock %}