{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-8 offset-md-1">

        <h1 class="mb-4">{{ event.title }}</h1>

        {% if event.main_image %}
        <div class="my-4">
            <img src="{{ event.main_image.url }}" class="d-block mx-lg-auto img-fluid" alt="Illustration" width="700"
                height="500">
        </div>
        {% endif %}

        {% if user.is_authenticated and event.creator == user %}
        <a href="{% url 'edit_event' event.id %}" class="btn btn-primary">Edit Event</a>
        <a href="{% url 'delete_event' event.id %}" class="btn btn-primary">Delete Event</a>
        {% endif %}
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">Details</h4>
                <p class="card-text"><strong>Description:</strong> {{ event.description|linebreaks }}</p>
                <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
                <p class="card-text"><strong>Category:</strong> {{ event.category }}</p>
                <p class="card-text"><strong>Status:</strong> {{ event.status }}</p>
                <p class="card-text"><strong>Creators:</strong>
                    <a href="{% url 'user' event.creator.id %}">
                        {{event.creator.first_name }} {{event.creator.last_name }}
                    </a>
                </p>

                <h5 class="card-title mt-4">Tags</h5>
                <ul class="list-inline">
                    {% for tag in event.tags.all %}
                    <li class="list-inline-item"><span class="badge badge-primary bg-secondary">{{ tag.name }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="my-4">
            <div class="row">
                <div class="col-md-6">
                    <a href=" {% url 'register_to_event' event.id %}" class="btn btn-primary w-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            <path fill-rule="evenodd"
                                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        Register to this event
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'bookmark_event' event.id %}" class="btn btn-primary w-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                        </svg>
                        Bookmark this event
                    </a>
                </div>
            </div>
        </div>

        <h5 class="mt-4">Event Schedule</h5>
        {% if user.is_authenticated and user == event.creator %}
        <a href="{% url 'create_session_item' event.id %}" class="btn btn-primary mt-1">Add Session</a>
        {% endif %}
        <ul class="list-group mt-3">
            {% for session in event_sessions %}
            <li class="list-group-item d-flex justify-content-between">
                {{ session.start_time|time:"H:i" }} : {{ session.end_time|time:"H:i"}} - {{session.title }}
                {% if user.is_authenticated and user == event.creator %}
                <a href="{% url 'edit_session_item' event_id=event.id session_id=session.id %}">Edit
                    Session Item</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Comments</h5>
                <ul class="list-group mt-3">
                    {% for comment in comments %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between mb-3">
                            <small>@{{comment.user}} - {{comment.created_at|timesince}} ago</small>
                            {% if user.is_authenticated and request.user == comment.user %}
                            <a href="{% url 'delete_comment' comment.id %}">Delete Comment</a>
                            {% endif %}
                        </div>
                        <hr>
                        <p>{{comment.text}}</p>
                    </li>
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                    <li class="list-group-item">
                        <div>
                            <form class="d-flex justify-content-between" method="POST" action="">
                                {% csrf_token %}
                                <input class="form-control" type="text" name="comment"
                                    placeholder="Write your comment here..." />
                                <button class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <a href="{% url 'event_list' %}" class="btn btn-secondary mt-4">Back to Events</a>
    </div>
    <div class="col-md-auto mt-5">
        <div class="card h-auto mh-50 mt-5">
            <div class=" card-body">
                <strong>Participants:</strong>
                {% for participant in participants %}
                <div class="my-4 d-flex">
                    <div class="d-flex align-items-center">
                        <img src="{{ participant.profile_picture.url }}" width=36" height="36" class="rounded-circle">
                    </div>
                    <div class="ms-2">
                        <p class="mb-0">{{participant.first_name}} {{participant.last_name}}</p>
                        <span class="mt-0">@{{participant}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}